<%= form_for(data_indicator) do |f| %>
  <% if data_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_indicator.errors.count, "error") %> prohibited this data_indicator from being saved:</h2>

      <ul>
      <% data_indicator.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :federal_entity %>
    <%= f.text_field :federal_entity %>
  </div>

  <div class="field">
    <%= f.label :main_category %>
    <%= f.text_field :main_category %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :subcategory %>
    <%= f.text_field :subcategory %>
  </div>

  <div class="field">
    <%= f.label :indicator %>
    <%= f.text_field :indicator %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div class="field">
    <%= f.label :unit_of_measurement %>
    <%= f.text_field :unit_of_measurement %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
