<div id="index-banner" class="parallax-container z-depth-5 parallax-large">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center">Índices de inclusión de México</h1>
      <div class="row center">
        <h5 class="header col s12 light"></h5>
      </div>
      <div class="row center">
        <a href="#explore" id="download-button" class="btn-large waves-effect waves-light teal">Explora</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/137915677/q%3D80_m%3D2000_k%3D1/cbd78eae2fc4af5ee6e007e59a32986b" alt="Unsplashed background img 1"></div>
</div>

<br/><br/>

<div class="container" id="explore">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4>Explora y conoce México</h4>
        <div class="divider"></div>
        <div id="menu" class="row">
          <div class="col m12 s12 l6">
            <h6>¿Qué estados quieres explorar? (Elige al menos dos)</h6>
            <% @states.each do |key, name| -%>
            <div class="col s6">
              <%= check_box_tag(name[:name], '', false, class: 'state') %>
              <%= label_tag(name[:name], name[:name]) %>
            </div>
            <% end -%>
          </div>
          <div class="col m12 s12 l6">
            <h6>¿Qué quieres explorar de estos estos estados?</h6>
            <% @indicators.each do |kay, name| -%>
            <div class="col s6">
              <%= check_box_tag(name[:name], '', false, class: 'indicator') %>
              <%= label_tag(name[:name], name[:name]) %>
            </div>
            <% end -%>
          </div>
          <div class="col s12 center-align">
            <a id="submitGraph" class="btn waves-effect waves-light">Visualizar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" id="graph" style="opacity:0">
  <div class="section">
    <div class="row">
      <div class="col s12 m12 l8">
        <div id="graphs"></div>
      </div>
      <div class="col s12 m12 l4">
        <div id="legend"></div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper parallax-short">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">¿Por qué elegir 11 temas de bienestar?</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/110785335/q%3D80_m%3D1500/927bdb24cf92837bdedb18dc45355afe"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s8">
        <br>
        <div id="container"></div>
      </div>
      <div class="col s4">
        <br>
        <div class="card light-blue lighten-5 z-depth-5">
          <div class="card-content">
            <span class="card-title">Explorar los indicadores</span>
            <div class="divider blue-grey darken-4"></div>
            <br/>
            <div class="row">
              <% @indicators_map.each do |indicator| -%>
              <div class="col s9">
                <p>
                  <input class="with-gap" name="indicators_map" type="radio" id=<%= indicator[:name]+"_map" %> code=<%= indicator[:code] %>  />
                  <label for=<%= indicator[:name]+"_map" %> ><%= indicator[:name] %></label>
                </p>
              </div>
              <div class="col s3">
                <div style="width:18px;height:18px;background-color:<%=indicator[:color]%>;display: inline-block;"></div>
              </div>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper parallax-large">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">¿Qué es lo que le importa a la mayoría de los mexicanos a lo largo del país?</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="https://drscdn.500px.org/photo/143585729/q%3D80_m%3D2000/8f3174f4b0239ce895e1b80dabae864a" alt="Unsplashed background img 3"></div>
</div>

<%= hidden_field('data','url',:value => url_for(controller: 'welcome', action: 'data_sample' )) %>
<%= render "welcome/legend_indicator.html" %>