
<!DOCTYPE html>
<html>
<head>
  <title>Índices de inclusión de México</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', params[:controller], media: 'all'%>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <%= link_to controller: "welcome", action: "index" do %>
        <img src="/assets/logo.png" height="71"/>
      <% end %>
      <ul class="right hide-on-med-and-down">
        <li>
          <%= link_to "¿Quiénes somos?", {controller: "about", action:"index"} %>
        </li>
        <li>
          <a data-hover="true" data-activates="indicators-dropdown" data-constrainwidth="false" class="dropdown-button">Indicadores</a>
        </li>
        <li>
          <a data-hover="true" data-activates="states-dropdown" data-constrainwidth="false" class="dropdown-button">Estados</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>

    <div id="indicators-dropdown" class="dropdown-content" style="width:500px">
      <div class="row">
        <% @indicators.each do |key, name| -%>
        <div class="col m6">
          <%= link_to name[:name], {controller: "indicators", action: "indicators", name: key} %>
        </div>
        <% end -%>
      </div>
    </div>

    <div id="states-dropdown" class="dropdown-content" style="width:700px">
      <div class="row">
        <% @states.each do |key, name| -%>
        <div class="col m3">
          <%= link_to name, {controller: "states", action: "states", name: key} %>
        </div>
        <% end -%>
      </div>
    </div>

  </nav>
  <%= yield %>
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img src="/assets/logo_white.png" height="100"/>
          <p class="grey-text text-lighten-4">Hay más en la vida que los números fríos del PIB y las estadísticas económicas - Este índice permite comparar el bienestar de un estado a otro, basado en 11 temas de la OCDE ha identificado como indispensables, en las áreas de las condiciones materiales de vida y calidad de vida.</p>
          <%= link_to "¿Quiénes somos?", {controller: "about", action:"index"},class: "btn btn-lg btn-outline"%>
        </div>
        <div class="col l3 s12 offset-l3">
          <h5 class="white-text">Indicadores</h5>
          <ul id="indicators">
            <% @indicators.each do |key, name| -%>
            <li>
              <%= link_to name[:name], {controller: "indicators", action: "indicators", name: key}, class: "white-text" %>
            </li>
            <% end -%>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © Ricardo Betancourt 2016. All rights reserved. Done by Making Devs / Antena Labs
      </div>
    </div>
  </footer>
  <%= javascript_include_tag "application", params[:controller] %>
</body>
</html>
